:root {
    --white: #fff;
    --black: #000;
    --gray-1: #111112;
    --gray-2: #adaeaf;
    --gray-3: #eaeaea;
    --gray-4: #f5f5f5;
    --gray-5: #fdfbfa;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --primary-1: #1ac84b;
    --primary-2: #ffb21a;
    --secondary-1: #0056fc;
    --secondary-2: #f62682;
    --orange-500: #f97316;
    --orange-600: #ea580c;
    /* SIZE */
    --header-h: 100px;
}

/* CSS RESET */
*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-weight: 500;
    background: var(--slate-900);
    /* -ms-overflow-style: none; */
    /* scrollbar-width: none; */
}
/* body::-webkit-scrollbar {
    display: none;
} */

a {
    text-decoration: none;
    color: currentColor;
}

/* APP */
.app-container {
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: var(--white);
}

#body {
    min-height: 300vh;
}

/* Không cho người dùng chọn vào phần tử */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Ẩn Scrollbar */
.hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Custom h3 */
h3 {
    position: relative;
    font-size: 50px;
    padding-left: 20px;
    color: var(--white);
    height: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
}
h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 8px;
    border-radius: 12px;
    height: 100%;
    background-image: linear-gradient(90deg, #ff512f 0%, #f09819 100%);
}
