#header {
    background-color: var(--slate-900);
    min-height: var(--header-h);
}
.header-bar{   
    display: flex;
    z-index: 1000px;
    position: inherit;  
    position: fixed;
    background-color: var(--slate-900);
    width: 100%;
    z-index: 40;
    left: 5%;
    margin-top: 10px;
}

.right-header,
.left-header{
    display: flex;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


.left-header img{
    min-width: 120px;
    min-height: 30px;

}
header .left-header ul li {
    list-style: none; 
    display: flex;
    width: 12.5%;
    padding: 3px;
}
header .left-header ul li a{
    min-width: max-content;
    display: block;
    padding: 9px;
}

.right-header{
    position: absolute;
    transform: translateX(110vh);

}
.right-header form,
.right-header {
    display: flex;
    font-size: 14px;
}
/* #search-bar{
    background-color: var(--gray-2);
    border-radius: 20px;
    opacity: 0.4;
} */
#search-bar #search-text{
    padding: 12px;
    border: none;
    outline: none;
    width: 110px;
    background-color: var(--gray-2);
    opacity: 0.4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 16px;
}
#search-bar #search-button{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--gray-2);
    opacity: 0.4;
    width: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sign-in-header{
    margin-left: 20px;
    padding: 5px;

    outline: var(--orange-500) solid 1px;
    color: var(--orange-500);
    border-radius: 20px;
    min-width: max-content;
    display: block;
    padding: 9px;
}
.sign-up-header{
    margin-left: 10px;
    padding: 5px;
    outline: var(--orange-500) solid 1px;
    color: white;
    border-radius: 20px;
    min-width: max-content;
    display: block;
    padding: 9px;
    
    background-color: var(--orange-500);
}


