#logo {
    width: 120px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    color: var(--orange-500);
}

.logo-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
